
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .sidenavcontent {
    padding: 4px 8px 8px 16px;
    text-decoration: none;
    color: #424242;
    display: block;
    transition: 0.3s;
  }
  
  .sidenavcontent:hover {
    color: #252525;
  }
  
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }

  .dropdown-item {
      display: block;
  }

  #available_packages {
      width: 420px !important;
      max-height: 600px !important;
      display: inline-block;
  }

  #avail_list {
      width: 420px !important;
      height: 400px !important;
      overflow-x: auto !important;
      overflow-y: auto !important;
  }

  input.small-input {
    height: 22px;
    width: 100%;
    padding: 2px 6px 0px 6px;
    font-size: 10px;
}
