#mySidenav {
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavcontent {
  padding: 4px 8px 8px 16px;
  text-decoration: none;
  color: #424242;
  display: block;
  transition: 0.3s;
}

.sidenavcontent:hover {
  color: #252525;
}

.closebtn {
  position: absolute;
  right: 25px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

.dropdown-item {
  display: block;
}

#package-name {
  width: 400px;
}

#packageview {
  padding-left: 10px;
  width: 400px;
}

.value-name {
  font-size: large;
}

.value-version {
  font-size: larger;
}

.installed-values, .to-install-values {
  line-height: 30px;
  cursor: pointer;
}

.faicon {
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.main-content {
  overflow-x: hidden;
}

#deletebtn {
  display: none;
}

#searchicon {
  top: 10px;
  z-index: 10 !important;
  right: 25px;
}