<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <div class="sidenavcontent">
        <div class="container">
            <h3>Configure Project</h3>
            <br>
            <label for="package-name">Install Packages</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="package-name" list="searchlist" autocomplete="off"
                    placeholder="Search for available packages">
                <span class="fa fa-search form-control-feedback"></span>

                <datalist id="searchlist">
                </datalist>
            </div>
            <br>
            <div id="packageview">
                <div class="main-content">
                    <div id="to-install-main">
                        <h3>Packages To Install</h3>
                        <br>
                        <div id="to-install">
                        </div>
                        <br>
                        <button id="installbtn" class="btn btn-success" style="width: 380px;">Install
                            Selected</button>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <h3>Installed Packages</h3>
                        </div>
                        <div class="col-sm-2">
                            <i class="faicon fa fa-wrench" id="updatebtn"></i>
                            &nbsp;
                            <i class="faicon fa fa-trash-o" id="deletebtn"></i>
                        </div>
                    </div>
                    <br>
                    <div id="installed-packages">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>