#mySidenav {
  overflow-x: hidden;
}

.sidenavcontent {
  color: #424242;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

.dropdown-item {
  display: block;
}

#package-name {
  width: 390px;
}

#packageview {
  padding-left: 10px;
  width: 410px;
}

.value-name {
  padding-left: 10px;
  font-size: large;
}

.value-version {
  font-size: larger;
}

.installed-values, .to-install-values {
  line-height: 30px;
  cursor: pointer;
}

.faicon {
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.main-content {
  overflow-x: hidden;
}

#deletebtn {
  display: none;
}

#searchicon {
  top: 10px;
  z-index: 10 !important;
  right: 20px;
}

.Blink {
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to {
    opacity: 1
  }
  50% {
    opacity: 0
  }
}